.bv-theme .bv-header .bv-toolbar {
    height: 40px;
    line-height: 40px;
}
.bv-nav .bv-logo {
    background: #3377BE url(images/logo.png) no-repeat;
}

.bv-theme .bv-body {
    top: 39px;
}
.bv-theme .bv-body .bv-tabs {
    top: 39px;
}
.bv-theme .breadcrumb .operate {
    position: absolute;
    right: 0;
    top: 38px;
}

.bv-theme .bv-nav .bv-menu {
    background: #3377BE;
}
.bv-theme .bv-header .bv-toolbar {
    background: #4787c8;
}
.bv-theme .bv-menu .bv-tree>.ztree a.level0, .bv-theme .bv-menu .bv-tree>.ztree a.level0:hover, .bv-theme .bv-menu .bv-tree>.ztree a.level0.curSelectedNode {
    background-color: #3377BE;
}

/* 首页样式 */
.panel-title > a {
    float: right;
}
.panel-body {
    text-align: center;
}
.panel-footer {
    text-align: center;
}
