<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.bvrfis.dao.BDataRelationDao">
	<insert id="insertBDataRelation">
		insert into bvrfis_xjws.b_dataRelation
		(
			relationid,
			linktype,
			wxbusiid,
			centerid,
			wqbusiid,
			busid,
			version,
			matchid,
			inuser,
			indate,
			edituser,
			editdate
		)
		values(
			#{param.relationId,jdbcType=VARCHAR},
			#{param.linkType,jdbcType=VARCHAR},
			#{param.wxBusiId,jdbcType=VARCHAR},
			#{param.centerId,jdbcType=VARCHAR},
			#{param.wqBusiId,jdbcType=VARCHAR},
			#{param.busId,jdbcType=VARCHAR},
			#{param.version,jdbcType=DECIMAL},
			#{param.matchId,jdbcType=VARCHAR},
			#{param.inUser,jdbcType=VARCHAR},
			#{param.inDate,jdbcType=VARCHAR},
			#{param.editUser,jdbcType=VARCHAR},
			#{param.editDate,jdbcType=VARCHAR}
			)
	</insert>
	<select id="selectBDataRelation" resultType="com.bestvike.bvrfis.entity.BDataRelation">
		SELECT
		relationid,
		linktype,
		wxbusiid,
		centerid,
		wqbusiid,
		busid,
		version,
		matchid,
		inuser,
		indate,
		edituser,
		editdate
		FROM
		bvrfis_xjws.b_dataRelation t
		<where>
			<if test="null != param.wxBusiId and '' != param.wxBusiId">
				t.wxBusiId = #{param.wxBusiId,jdbcType=VARCHAR}
			</if>
			<if test="null != param.linkType and '' != param.linkType">
				AND t.linkType = #{param.linkType,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>