<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.bvrfis.dao.BmatchAnResultDao">
	<insert id="insertBmatchAnResultByBatch">
		insert into bvrfis_xjws.b_matchAnResult
		(
		matchid,
		logid,
		wxbusiid,
		centerid,
		wqbusiid,
		percent,
		result,
		relstate,
		describe,
		remark,
		inuser,
		indate,
		edituser,
		editdate,
		matchtype,
		version
		)
		<foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
			SELECT
			#{item.matchid,jdbcType=VARCHAR},
			#{item.logid,jdbcType=VARCHAR},
			#{item.wxbusiid,jdbcType=VARCHAR},
			#{item.centerid,jdbcType=VARCHAR},
			#{item.wqbusiid,jdbcType=VARCHAR},
			#{item.percent,jdbcType=DECIMAL},
			#{item.result,jdbcType=VARCHAR},
			#{item.relstate,jdbcType=VARCHAR},
			#{item.describe,jdbcType=VARCHAR},
			#{item.remark,jdbcType=VARCHAR},
			#{item.inuser,jdbcType=VARCHAR},
			#{item.indate,jdbcType=VARCHAR},
			#{item.edituser,jdbcType=VARCHAR},
			#{item.editdate,jdbcType=VARCHAR},
			#{item.matchtype,jdbcType=VARCHAR},
			#{item.version,jdbcType=DECIMAL}
			FROM dual
		</foreach>
	</insert>
	<insert id="insertBmatchAnResult">
		insert into bvrfis_xjws.b_matchAnResult
		(
		matchid,
		logid,
		wxbusiid,
		centerid,
		wqbusiid,
		percent,
		result,
		relstate,
		describe,
		remark,
		inuser,
		indate,
		edituser,
		editdate,
		matchtype,
		version
		)
		values(
			#{param.matchid,jdbcType=VARCHAR},
			#{param.logid,jdbcType=VARCHAR},
			#{param.wxbusiid,jdbcType=VARCHAR},
			#{param.centerid,jdbcType=VARCHAR},
			#{param.wqbusiid,jdbcType=VARCHAR},
			#{param.percent,jdbcType=DECIMAL},
			#{param.result,jdbcType=VARCHAR},
			#{param.relstate,jdbcType=VARCHAR},
			#{param.describe,jdbcType=VARCHAR},
			#{param.remark,jdbcType=VARCHAR},
			#{param.inuser,jdbcType=VARCHAR},
			#{param.indate,jdbcType=VARCHAR},
			#{param.edituser,jdbcType=VARCHAR},
			#{param.editdate,jdbcType=VARCHAR},
			#{param.matchtype,jdbcType=VARCHAR},
			#{param.version,jdbcType=DECIMAL}
			)
	</insert>
	<select id="selectBmatchAnResultById" resultType="com.bestvike.bvrfis.entity.BmatchAnResultInfo">
		SELECT
		matchid,
		logid,
		wxbusiid,
		centerid,
		wqbusiid,
		percent,
		result,
		relstate,
		describe,
		remark,
		inuser,
		indate,
		edituser,
		editdate,
		matchtype,
		version
		FROM
		bvrfis_xjws.b_matchAnResult
		WHERE matchid = #{matchId,jdbcType=VARCHAR}
	</select>
</mapper>