<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.mid.dao.MidHouseDao">
    <insert id="insertBvdfHouseInfo">
        insert into mid_houseinfo
        (
        sysguid,
        buycertnos,
        regionname,
        bldname,
        cellname,
        floorname,
        roomno,
        buynames,
        houseAddress
        )
        values
        (
        SYS_GUID(),
        #{param.buycertnos,jdbcType=VARCHAR},
        #{param.regionname,jdbcType=VARCHAR},
        #{param.bldname,jdbcType=VARCHAR},
        #{param.cellname,jdbcType=VARCHAR},
        #{param.floorname,jdbcType=VARCHAR},
        #{param.roomno,jdbcType=VARCHAR},
        #{param.buynames,jdbcType=VARCHAR},
        #{param.houseAddress,jdbcType=VARCHAR}
        )
    </insert>
    <!--分页查询用户列表-->
    <select id="queryArcBuildInfoById" resultType="java.lang.String">
        select t.bldname from arc_buildinfo t where t.bldno = '602609053'
    </select>
</mapper>