<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.mid.dao.MidHouseDao">
    <insert id="insertBvdfHouseInfo">
        insert into mid_aks.copy_houseinfo
        (
        sysguid,
        buycertnos,
        projectno,
        bldno,
        cellno,
        floorname,
        roomno,
        buynames,
        address
        )
        values
        (
        #{param.sysguid,jdbcType=VARCHAR},
        #{param.buycertnos,jdbcType=VARCHAR},
        #{param.regionno,jdbcType=VARCHAR},
        #{param.bldno,jdbcType=VARCHAR},
        #{param.cellno,jdbcType=VARCHAR},
        #{param.floorname,jdbcType=VARCHAR},
        #{param.roomno,jdbcType=VARCHAR},
        #{param.buynames,jdbcType=VARCHAR},
        #{param.houseAddress,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateBvdfHouseInfoById">
        update mid_aks.copy_houseinfo t
        set t.buycertnos = #{param.buycertnos,jdbcType=VARCHAR},
        t.regionno = #{param.regionno,jdbcType=VARCHAR},
        t.bldno=#{param.bldno,jdbcType=VARCHAR},
        t.cellno=#{param.cellno,jdbcType=VARCHAR},
        t.floorname =  #{param.floorname,jdbcType=VARCHAR},
        t.roomno = #{param.roomno,jdbcType=VARCHAR},
        t.buynames=#{param.buynames,jdbcType=VARCHAR},
        t.houseAddress= #{param.houseAddress,jdbcType=VARCHAR}
        where t.sysguid = #{param.sysguid,jdbcType=VARCHAR}
    </update>
    <!--根据主键查询中间库房屋信息-->
    <select id="queryMidHouseInfoById" resultType="com.bestvike.mid.entity.MidHouseInfo">
        select t.sysguid from mid_aks.copy_houseinfo t where t.sysguid = #{param.sysguid,jdbcType=VARCHAR}
    </select>
</mapper>