<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestvike.mid.dao.MidHouseDao">
    <insert id="insertBvdfHouseInfoByBatch">
        insert into mid_aks.copy_houseinfo
        (
        sysguid,
        buycertnos,
        corpno,
        projectno,
        bldno,
        cellno,
        floorname,
        roomno,
        buynames,
        address,
        housetype
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.sysguid,jdbcType=VARCHAR},
            #{item.buycertnos,jdbcType=VARCHAR},
            #{item.corpno,jdbcType=VARCHAR},
            #{item.projectno,jdbcType=VARCHAR},
            #{item.bldno,jdbcType=VARCHAR},
            #{item.cellno,jdbcType=VARCHAR},
            #{item.floorname,jdbcType=VARCHAR},
            #{item.roomno,jdbcType=VARCHAR},
            #{item.buynames,jdbcType=VARCHAR},
            #{item.address,jdbcType=VARCHAR},
            #{item.housetype,jdbcType=VARCHAR}
            FROM dual
        </foreach>
    </insert>
    <update id="updateBvdfHouseInfoByBatch">
        <foreach collection="list" item="item" index="index" separator=";" open="begin" close=";end;">
            UPDATE mid_aks.copy_houseinfo t
            SET t.buycertnos = #{item.buycertnos,jdbcType=VARCHAR},
        t.corpno = #{item.corpno,jdbcType=VARCHAR},
        t.projectno = #{item.projectno,jdbcType=VARCHAR},
        t.bldno=#{item.bldno,jdbcType=VARCHAR},
        t.cellno=#{item.cellno,jdbcType=VARCHAR},
        t.floorname =  #{item.floorname,jdbcType=VARCHAR},
        t.roomno = #{item.roomno,jdbcType=VARCHAR},
        t.buynames=#{item.buynames,jdbcType=VARCHAR},
        t.address= #{item.address,jdbcType=VARCHAR},
        t.housetype= #{item.housetype,jdbcType=VARCHAR}
            <where>
                <choose>
                    <when test="null != item.sysguid and '' != item.sysguid">
                        t.sysguid = #{item.sysguid,jdbcType=VARCHAR}
                    </when>
                    <otherwise>
                        0 = 1
                    </otherwise>
                </choose>
            </where>
        </foreach>
    </update>
    <!--根据主键查询中间库房屋信息-->
    <select id="queryMidHouseInfoById" resultType="com.bestvike.mid.entity.MidHouseInfo">
        select t.sysguid from mid_aks.copy_houseinfo t where t.sysguid = #{param.sysguid,jdbcType=VARCHAR}
    </select>
</mapper>